<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="App">
    <div ng-controller="CardapioController" class="pagina-sample">
        <div class="sub-pagina-cardapio">
            <h2 class="h2-titulo">Cardápio</h2>

            <div id="div-pratos" ng-init="incluirPratos()"></div>

            <div class="arrow" id="scroll-arrow">&#8595;</div>
        </div>

        <div class="sub-pagina-cardapio" id="sub-pagina-cardapio2">
            <h2 class="h2-titulo">Seu pedido</h2>

            <div id="div-seu-pedido">
                <p id="seus-pratos">Seus pratos</p>
                <div id="div-total">
                    <p id="total">Total</p>
                    <p id="preco-total">R$0,00</p>
                </div>

                <div id="submit-seu-pedido" onclick="carrinhoSample.enviarPedido()">Registrar pedido</div>
            </div>

            <div id="div-situacao"></div>
        </div>
    </div>
</body>
</html>