<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="App">
    <div class="pagina-inicio">
        <div class="sub-pagina-inicio">
            <div class="div-inicio">
                <h2 class="h2-titulo">Cardápio</h2>

                <div class="text-div-inicio">
                    <p>Explore nossos pratos aprovados por cozinheiros renomados e registre seu pedido!</p>
                    <a class="link-inicio" href="#/cardapio">Ir até a página &#8594</a>
                </div>
            </div>

            <div class="div-inicio">
                <h2 class="h2-titulo">Unidades</h2>

                <div class="text-div-inicio">
                    <p>Encontre o Gatatouille mais próximo de você!</p>
                    <a class="link-inicio" href="#/unidades">Ir até a página &#8594</a>
                </div>
            </div>

            <div class="div-inicio">
                <h2 class="h2-titulo">História</h2>

                <div class="text-div-inicio">
                    Leia mais sobre o nosso desenvolvimento e a história que começou em 1669 a.C..
                    <a class="link-inicio" href="#/historia">Ir até a página &#8594</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>