:root {
    --border-radius: 0.8rem;
    --whitest: #fafcff;
    --white: #eaecef;
    --yellow: #fcbf17;
    --black: #1a1c1f;
    --green: #12a454;
    --red: #e92929;
    --gray: #8a8c8f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 90%;
}

body {
    background: var(--white);
    font-family: gilroy-regular;
}

header {
    background: var(--black);
    padding: 2rem 0 10rem;
    text-align: center;
}

#bee-finance {
    color: var(--white);
}

#logo {
    color: var(--black);
    font-weight: bold;
}

.icon {
    max-width: 50px;
}

#honeycomb-remove:hover {
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--black);
    font-weight: normal;
}

a {
    color: var(--black);
    text-decoration: none;
    transition: transform 0.3s, color 0.3s;
}

a:hover {
    color: var(--gray);
    cursor: pointer;
}

.button {
    width: 100%;
    height: 50px;
    background: var(--white);
    padding: 0;
}

.button.save {
    color: var(--black);
    border: 2px var(--black) solid;
    border-radius: var(--border-radius);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background 0.3s, color 0.3s;
}

.button.save:hover {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.button.cancel {
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: var(--border-radius);
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background 0.3s, color 0.3s;
}

.button.cancel:hover {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: var(--black);
    margin-top: 0;
}

.card {
    background: var(--whitest);
    padding: 2rem 2rem;
    border-radius: var(--border-radius);
    margin-bottom: 2rem;
    color: var(--black);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    background: var(--black);
    color: var(--white);
}

#transaction {
    display: block;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--black);
}

table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

table th {
    background: var(--whitest);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tbody tr {
    opacity: 0.6;
    transition: transform 0.3s, opacity 0.3s;
}

table tbody tr:hover {
    opacity: 1;
    cursor: default;
}

table td {
    background: var(--whitest);
    padding: 1rem 2rem;
    font-weight: normal;
}

td.description {
    color: var(--black)
}

td.income {
    color: var(--green);
}

td.expense {
    color: var(--red);
}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: var(--white);
    padding: 2.4rem;
    border-radius: var(--border-radius);
    position: relative;
    z-index: 1;
}

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border: none;
    border-radius: var(--border-radius);
    padding: 0.8rem;
    width: 100%;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.6;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button.cancel,
.input-group.actions .button.save {
    width: 48%;
}

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    color: var(--yellow);
    opacity: 0.6;
    font-weight: bold;
}

@media (min-width: 800px) {
    html {
        font-size: 90%;
    }

    #balance {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}