:root {
    --fill-color: #e98b37;
    --border-color: #ffbd59;
    --border-radius: 5px;
    --border-type: outset;
    --color1: black;
    --color2: #6d0000;
    --color3: #ffd79c;
}

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    font-family: xpix;
    font-weight: 1;
    font-weight: 1000;
    align-items: center;
}

html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#modal-div {
    justify-content: center;
}

p {
    margin: 0;
}

button {
    padding: 0;
}

span {
    color: var(--color1);
}

#screen {
    background-image: url('../Components/images/background.png');
    background-size: 300px;
    height: 100%;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    opacity: 1 !important; 
    visibility: visible !important; 
}

#start-screen, #restart-screen {
    color: var(--color);

    background-image: url('../Components/images/modal.png');
    background-repeat: no-repeat;

    background-size: cover;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    position: absolute;

    z-index: 100;
}

#start-button, #restart-button {
    background: none;
    color: var(--color3);

    border: none;

    position: relative;
    z-index: 999;
}

#start-button:hover, #restart-button:hover{
    color: var(--color2);
    cursor: pointer;
}

#pause {
    color: var(--color1);

    margin: 0;

    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 1vw;
    right: 1vw;

    background: none;
    border: none;
}

#pause:hover {
    cursor: pointer;
    color: var(--color2);
}

.score {
    color: var(--color1);

    align-self: flex-start;

    opacity: 0;
    visibility: hidden;

    top: 1vw;
    z-index: 1;
}

#lower-right-panel {
    position: absolute;
    align-self: flex-end;
    right: 1vw;

    display: flex;
    flex-direction: column;

    opacity: 0;
    visibility: hidden;

    justify-content: end;
    align-items: end;
}

#soundtrack-div {
    display: flex;
    flex-direction: row;
}

#button-soundtrack-on, #button-soundtrack-off {
    margin-left: 1vw;
    background: none;
    border: none;

    color: var(--color1);
}

#button-soundtrack-on:hover, #button-soundtrack-off:hover {
    cursor: pointer;
}

#fps-counter {
    opacity: 0;
    visibility: hidden;

    margin: 0;
    padding: 0;

    right: 1vw;
}

.wasp {
    position: absolute;
    z-index: 25;
    border-radius: 100%;
}

#hp-bar {
    position: absolute;
    z-index: 50;
}

#bee {
    position: absolute;
    z-index: 50;
}