<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="pagina-historia">
        <div class="sub-pagina-historia">
            <h2 class="h2-titulo" id="h2-titulo-historia">A história do restaurante Gatatouille</h2>

            <div class="block">
                <div class="block-text">
                    <p class="p-indent">O restaurante Gatatouille é um dos mais antigos e tradicionais restaurantes do mundo. Ele foi fundado em 1669 a.C., na cidade egípcia de Alexandria, pelo chef Apicius. Apicius era um homem apaixonado por comida e tinha um talento natural para a culinária. Ele rapidamente se tornou famoso por seus pratos saborosos e criativos.</p>
                    <br><p class="p-indent">O restaurante logo se tornou um dos locais mais populares de Alexandria. Visitantes de todo o mundo vinham para experimentar a culinária de Apicius. Entre os clientes ilustres do restaurante estavam figuras como Cleópatra, Napoleão Bonaparte e o rei Luís XIV.</p>
                    <br><p class="p-indent">Cleópatra era uma mulher sofisticada e tinha um paladar requintado. Ela adorava os pratos de Apicius, especialmente os frutos do mar. Napoleão Bonaparte era um homem exigente e só comia o melhor. Ele sempre elogiava a comida. O rei Luís XIV era um grande apreciador de comida e vinho. Ele costumava fazer grandes banquetes.</p>
                    <br><p class="p-indent">O restaurante continuou a ser um sucesso por séculos. Ele sobreviveu a guerras, revoluções e mudanças de governo. No século XX, foi transferido para Paris, na França. Ele continua a ser um dos restaurantes mais populares da cidade.</p>
                </div>

                <img class="polaroid" id="polaroid-figuras" src="./Styles/Components/figuras.png">
            </div>

            <h2 class="h2-titulo">Uma noite memorável</h2>

            <div class="block">
                <div class="block-text">
                    <p class="p-indent">Uma noite, em 1804, Napoleão Bonaparte estava em Paris para se casar com Maria Luísa da Áustria. Ele decidiu jantar conosco para comemorar e pediu o seu prato favorito, ratatouille.</p>
                    <br><p class="p-indent">O ratatouille é um prato tradicional francês feito com vegetais, como tomate, abobrinha, berinjela e pimentão. O prato é cozido lentamente em um molho de tomate e temperado com ervas frescas.</p>
                    <br><p class="p-indent">Napoleão ficou encantado com o ratatouille. Ele disse que era o melhor que ele já havia comido.</p>
                    <br><p class="p-indent">O chef do restaurante, Jean-Pierre, estava orgulhoso de ter agradado Napoleão. Ele disse que era uma honra servir o primeiro imperador da França.</p>
                </div>

                <img class="polaroid" id="polaroid-ratatouille" src="./Styles/Components/ratatouille.png">
            </div>

            <h2 class="h2-titulo">Um futuro brilhante</h2>

            <div class="block" id="last-block">
                <div class="block-text">
                    <p class="p-indent">O restaurante Gatatouille continua a ser um sucesso hoje. Ele é um dos restaurantes mais populares do mundo e atrai visitantes de todo o mundo, além de ser conhecido por sua culinária deliciosa, serviço impecável e atmosfera histórica.</p>
                    <br><p class="p-indent">O futuro do restaurante é brilhante. Ele é um ícone da culinária mundial e continuará a ser um destino popular para os amantes da comida por muitos anos.</p>
                </div>

                <img class="polaroid" id="polaroid-fila" src="./Styles/Components/fila.png">
            </div>

            <div class="arrow" id="scroll-arrow">&#8595;</div>
        </div>
    </div>
</body>
</html>