<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="App">
    <div ng-controller="UnidadeController" class="pagina-unidades">
        <div class="sub-pagina-unidades">
            <h2 class="h2-titulo">Unidades</h2>

            <div id="div-unidades" ng-init="incluirUnidades()"></div>

            <div class="arrow" id="scroll-arrow">&#8595;</div>
        </div>
    </div>
</body>
</html>
