@font-face {
    font-family: 'righteous';
    src: url('../Components/fonts/Righteous-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('../Components/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../Components/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}